@font-face {
    font-family: chalk-font;
    src: url(./fonts/After_Shok.ttf);
}

button:hover {
    cursor: pointer;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 137, 201);
}

.project-name {
    font-family: chalk-font;
    font-size: max(3rem, 5vw);
    color: rgba(255, 255, 255, 0.815);
    padding-top: 1rem;
}

.author {
    margin: 10px;
    color: white;
    a {
        color: rgb(12, 255, 4);
        text-underline-offset: 5px;
    }
}

.tabs {
    background-color: rgb(0, 137, 201);
    display: flex;
    justify-content: center;
    gap: max(2rem, 10%);
}

.tab {
    background-color: transparent;
    background-image: url(./imgs/compressed-cloud.png);
    background-size: 115% 115%;
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    color: rgba(0, 0, 0, 0.514);
    font-family: chalk-font;
    font-weight: 700;
    padding: 1rem;
}

.on-this-tab {
    color: black;
    text-shadow: 3px 3px 10px black;
    font-weight: 900;
}

.tab-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-card {
    border: 2px solid rgb(175, 24, 24);
}

.info {
    display: flex;
    gap: 5px;
}

.icon-file {
    height: 2rem;
    width: 2rem;
    background-size: contain;
    background-repeat: no-repeat;
}

.current-tab {
    background-color: rgb(0, 137, 201);
}

.hourly-tab {
    background-color: rgb(0, 137, 201);
}

.daily-tab {
    background-color: rgb(0, 137, 201);
    color: white;
}

.search-result {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    background-color: rgba(255, 255, 255, 0.671);
    border: 0;
    border-radius: 5px;
    color: black;
    padding: 5px;
    font-family: monospace;
    font-size: 1.2rem;
    backdrop-filter: blur(5px);
    outline: none;
    &:focus {
        background-color: rgba(0, 0, 0, 0.493);
        color: white;
    }
}

.search {
    background-color: rgba(255, 255, 255, 0.568);
    border: 0;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 1.2rem;
    &:hover {
        background-color: rgba(255, 255, 255, 0.822);
    }
}